body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer !important;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.avatar_sm {
  width: 50px;
  height: 50px;
  line-height:50px;
  border-radius: 50%;
  background:#343a40;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.avatar_comment {
  width: 40px;
  height: 40px;
  line-height:40px;
  border-radius: 50%;
  background:#343a40;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.comment {
  background:#e5e7ea;
  padding: 1rem;
  border-radius:15px;
}

.commentBtn{
  margin-left: 30px;
  cursor: pointer;
}
.tweetimg {
  display: block;
  border: 1px;
  height: 250px;
}

.fa.fa-tag{
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #6c757d;
  font-size: 1.5rem;
}